<h1>All posts by <%= current_user.name %></h1>

<h2>News from API</h2>

<ul>
  <% @news["articles"].each do |article| %>

  <li>
    <!-- <h2><%= article %></h2> -->
<h3><%= article['title'] %></h3>
<p><%= article['description'] %></p>
<img src= <%= article['urlToImage'] %> alt=<%= article['title'] %>>
<h5><%= article['publishedAt'] %></h5>
<a href= <%= article['url']%>> Read more.. </a>


  </li>

  <% end %>

</ul>



<ul>
  <%@all_posts.each_with_index do |post,index| %>
  <% if post.id %>
  <li>
    <!-- <%= index %> -->
<h4><%= post.title %></h4>
<p><%= post.content %></p>
<%= link_to "View", post_path(post) %>
<%= link_to "Delete", post_path(post), method: :delete %>
<%= link_to "Update", edit_post_path(post) %>
  </li>
  <% end %>
  <% end %>
</ul>

<%= form_for @new_post do |f| %>
<%= f.label :title %>
  <%= f.text_field :title %>
<br><br>
  <%= f.label :content %>
    <%= f.text_area :content %>
<br><br>

<%= f.hidden_field :user_id %>
    <%= f.submit %>
<% end %>

<%= @new_post.inspect %>

<!-- <%= @all_posts.inspect %> -->
